* {
  margin: 0;
}

html, body {
  height: 100%;
}

#app, .rz {
  height: calc(100% - 120px);
}

main.container {
  min-height: 100%;
}

main:after {
  content: "";
  display: block;
}

footer, main:after {
  height: 142px; 
}

footer {
  background: orange;
}
